:root {
  --main-dark: #2c2c2c;
  --main-light: #ffffff;
  --secondary-light: #fefefe;
  --accent: #7eb101;
  --button: #bbf330;
  --active-button: #ffe450;
  --main-light-transparent: rgba(255, 255, 255, 0.5);
  --shadow-fruit: #2f583f;
  --secondary-bgd: rgb(255, 229, 80);
  --main-bgd: #f5f5f5;
  --secondary-accent: #a7ce47;
  --text: #3d3d3d;
  --secondary-text: #969696;
  --third-text: #4a4a4a;
  --placeholder-text: #505050;

  --main-font: "Roboto", sans-serif;
}
/**
  |============================
  | Скидання дефолтних значень
  |============================
*/
body {
  background-color: var(--main-bgd);
  color: var(--main-dark);
  font-size: 16px;
  font-family: var(--main-font);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

/**
  |============================
  | Components
  |============================
*/
.container {
  /* min-width: 280px; */
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: calc(704px + 64px);
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: calc(1248px + 32px);
    padding-right: 16px;
    padding-left: 16px;
  }
}
.section {
  min-width: 320px;
}
@media screen and (min-width: 1200px) {
  .section {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 100px;
  }
}

.list {
  list-style: none;
}
.link {
  color: currentColor;
  text-decoration: none;
}
.current {
  color: var(--button);
}
.button {
  display: block;
  padding: 6px 18px;
  border: none;
  border-radius: 30px;

  color: currentColor;
  font-weight: 500;
  font-size: 13px;

  font-family: inherit;
  line-height: 1.5;

  cursor: pointer;
}

.button-green {
  background-color: var(--button);
  transition: background-color 250ms linear;
}
.button-green:hover,
.button-green:focus {
  background-color: var(--active-button);
}
.light-button {
  border: 2px solid var(--accent);
  background-color: var(--main-light);
}
.light-button:hover,
.light-button:focus {
  border-color: var(--active-button);
}
.secondary-title {
  font-size: 42px;
  line-height: 1.2;
}
.third-title {
  font-size: 18px;
  line-height: 1.4;
}
.text {
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 768px){
  .text {
  font-size: 16px;
  }
}


/**
  |============================
  | Header
  |============================
*/
.header-section {
  background-color: var(--secondary-light);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px){
  .header{
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px){
  .header{
    padding-left: 16px;
    padding-right: 16px;
  }
}

.logo {
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform 250ms linear;
}


.logo:hover .logo-icon,
.logo:focus .logo-icon {
  transform: scale(1.1);
}
.nav-menu {
  display: none;
}

.mobile-btn {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-burger-btn {
  width: 23px;
  height: 16px;
}
.mobile-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 2;
  overflow: hidden;
  width: 130px;
  border-radius: 30px 0px 30px 30px;
  background: #fefefe;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
   
  opacity: 0;
  visibility: hidden;
  transition: transform 250ms linear, opacity 250ms linear,
    visibility 250ms linear;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
 }

.mobile-menu-item {
  padding: 16px;
}
.mobile-menu-item:hover {
  background-color: var(--button);
}

.mobile-menu-link {
  display: block;
  background-color: transparent;
  color: #000000;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(19px / 16px);
  transition: background-color 250ms linear;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 4px;
  right: 4px;

  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .menu-burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    gap: 28px;
    margin-right: 30px;
  }
  .nav-list-item {
    position: relative;
  }
  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);

    transition: color 250ms linear;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    color: var(--button);
  }

  .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--button);
    opacity: 0;

    transition: opacity 250ms linear, transform 250ms linear;
    transform: scaleX(0);
  }
  .nav-link:hover::after,
  .nav-link:focus::after {
    opacity: 1;
    transform: scaleX(1);
  }
}
/**
  |============================
  | Hero
  |============================
*/
.hero-container{
  margin: 0;
}
@media screen and (min-width: 768px){
.hero-container {
   position: relative;
  display: flex;
  margin: 0;
}
}
/* @media screen and (min-width: 1200px){
  .hero-section{
     width: 1280px;
    margin: 0 auto;
  }
} */

.hero-block{
  padding-top: 60px;
}

/* @media screen and (min-width: 768px){
.hero-block {
  padding-top: 0;
  margin-top: 160px;
  margin-bottom: 164px;


}
} */
@media screen and (min-width: 1200px){
  .hero-block {
  padding-top: 0;
  margin-top: 160px;
  margin-bottom: 164px;
}
}

.main-title {
  font-size: 28px;
  margin-bottom: 28px;
  line-height: 1.2;
  text-transform: capitalize;
}

@media screen and (min-width: 768px){
.main-title {
  width: 537px;
  font-size: 42px;
 }
}
@media screen and (min-width: 1200px){
  .main-title{
    width: 502px;
    font-size: 48px;
  }
}

.hero-text{
  margin-bottom: 28px;

}
@media screen and (min-width: 768px){
.hero-text {
  max-width: 336px;
  margin-bottom: 40px;
}
}
@media screen and (min-width: 1200px){
  .hero-text {
  max-width: 502px;
  margin-right: 0;
}
}
.slick-slider{
  display: none ;
}
@media screen and (min-width: 768px){
 
.hero-img {
  width: 100%;
  border: 14px solid #ffe550;
  border-radius: 50% 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
}
@media screen and (min-width: 1200px){

.hero-img {
  border: 26px solid #ffe550;
}
}

@media screen and (min-width: 768px){
    .slick-slider {
  position: absolute;
  display: block;
  width: 292px;
  height: 292px;
  right: 0;
  top: 104px ;
 
}
}

@media screen and (min-width: 1200px){
  .slick-slider {
    position: relative;
    width: 580px;
  height: 580px;
  margin-top: 14px;
  margin-left: 152px;
}
}
/* .slick-slider {
  position: relative;
  display: block;
  width: 580px;
  height: 580px;
  margin-top: 14px;
  margin-left: 152px;
} */

.slick-prev {
  left: -13px;
  z-index: 1;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 48px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background: var(--secondary-light);
  color: var(--main-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  outline: none;
  font-size: 0;
  line-height: 0;
  cursor: pointer;

  transform: translate(0, -50%);
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus,
.slick-prev:active,
.slick-next:active {
  background: var(--secondary-light);
}

.slick-prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 29px;
  background-image: url(../img/icons/arrow-left.svg);

  transform: translate(-50%, -50%);
}

.slick-prev:hover::before,
.slick-prev:focus::before {
  background-image: url(../img/icons/arrow-left-hover.svg);
}

.slick-next:hover::before,
.slick-next:focus::before {
  background-image: url(../img/icons/arrow-right-hover.svg);
}

.slick-next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 29px;
  background-image: url(../img/icons/arrow-right.svg);

  transform: translate(-50%, -50%);
}

.slick-next {
  right: -13px;
  z-index: 1;
}

.slick-list {
  overflow: visible;
}

/**
  |============================
  | Offerings
  |============================
*/
.offerings-section {
  position: relative;
  padding-top: 0;
}
.offerings-bgd{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  /* height: 824px; */
  background-image: url(../img/offerings/offerings-bgd-mob320.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  /* transform: translateY(-164px); */
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx){
    .offering-bgd{
      background-image: url(../img/offerings/offerings-bgd-mob320@2.jpg);
    }
  }



@media screen and (min-width: 1200px){
.offering-bgd {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 1280px;

  height: 824px;

  background-image: url(../img/offering-bgd.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-164px);
}
}
.offerings-container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 43px;
}
.offerings-descr {
  margin-top: 99px;
  margin-left: 90px;
}
.offerings-title {
  margin-bottom: 20px;
}
.offerings-text {
  margin-right: 108px;
  margin-bottom: 40px;
}
.offerings-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}

.offerings-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;

  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 50% 50%;
  background-color: var(--secondary-light);
}
.offerings-list-text {
  /* width: 253px; */
  font-size: 14px;
  line-height: 1.5;
}
.offerings-descr > .light-button {
  transition: background-color 250ms linear, border 250ms linear;
}

.offerings-descr > .light-button:hover,
.offerings-descr > .light-button:focus {
  border: none;
  background-color: var(--button);
}

/**
  |============================
  | Favorite
  |============================
*/
.favorite-title {
  margin-bottom: 20px;
  text-align: center;
}
.favorite-text {
  margin-bottom: 40px;
  text-align: center;
}
.favorite-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.favorite-img {
  padding: 24px;
  border: 16px solid #ffe550;
  border-radius: 50% 50%;
}
.favorite-img:hover {
  border: 16px solid var(--button);
}
/**
  |============================
  | CUSTOMER
  |============================
*/
.customer-section {
  position: relative;
  padding-top: 100px;
}

.customer-bgd {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 1280px;
  height: 647px;
  background-image: url("../img/customer/customer-bgd.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.customer-title {
  margin-bottom: 20px;
}
.customer-list {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin-top: 32px;
}

.customer-item {
  width: 501px;
  padding: 14px;
  border-radius: 0px 30px 30px 30px;
  background-color: var(--secondary-light);
}
.customer-icon {
  margin-bottom: 28px;
}
.customer-text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(21px / 18px);
}
.customer-wrap {
  display: flex;
  gap: 16px;
}
.customer-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}
.customer-name-text {
  position: relative;
  font-size: 14px;
}
.customer-name-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(100% + 16px);
  display: block;
  width: 52px;
  height: 1px;
  background-color: var(--accent);

  transform: rotate(-90deg);
  transform-origin: left;
}
/**
  |============================
  | SUBSCRIBE
  |============================
*/

.subscribe-container {
  display: flex;
}
.secondary-title {
  margin-top: 46px;
  margin-bottom: 20px;
}
.subscribe-form-wrap {
  display: flex;
  gap: 32px;
}
.subscribe-input {
  width: 394px;
  margin-top: 24px;
  padding: 12px;
  border: 0.854167px solid var(--active-button);
  border-radius: 30px;
  background-color: transparent;
}
.subscribe-input::placeholder {
  color: var(--placeholder-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.subscribe-input:focus {
  border-color: var(--accent);
  outline: none;
}
.subscribe-input:valid {
  border-color: var(--accent);
  outline: none;
}
.subscribe-input:invalid:not(:placeholder-shown) {
  border-color: #ff705d;
  outline: none;
}
.button-subscribe {
  align-self: self-end;
  height: 42px;
  padding: 11px 22px;
}
/**
   |============================
   | FOOTER
   |============================
 */
.footer-section {
  padding-top: 118px;
  background-color: var(--secondary-light);
}
.footer-container {
  background-image: url(../img/footer-bgd2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-nav-form {
  display: flex;
  justify-content: space-between;
}
.footer-logo-nav {
  display: flex;
  align-items: center;
}
.footer-nav {
  display: flex;
  gap: 28px;
  margin-left: 146px;
}
.footer-form {
  justify-content: end;
}
.footer-form-text {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
}
.footer-form-wrap {
  display: flex;
  gap: 13px;
  align-items: center;
  margin-bottom: 12px;
}

.footer-input {
  width: 280px;
  margin-top: 0;
}
.footer-input:focus {
  border-color: var(--accent);
  outline: none;
}
.footer-input:valid {
  border-color: var(--accent);
  outline: none;
}
.footer-input:invalid:not(:placeholder-shown) {
  border-color: #ff705d;
  outline: none;
}
.footer-button {
  height: 42px;
}
.footer-link {
  color: var(--accent);
}
.footer-privacy {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.footer-privacy-list {
  display: flex;
  gap: 20px;
}
.footer-privacy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
}
/**
  |============================
  | MODAL
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  background: rgba(94, 99, 99, 0.7);
  opacity: 1;
  visibility: visible;

  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 458px;
  height: 449px;
  padding: 32px 32px 55px 32px;
  border-radius: 30px;
  background: var(--active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  transition: transform 250ms linear;
  transform: translate(-50%, -50%) scale(1);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.2);
}
.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50% 50%;

  background-color: var(--main-light);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.06));
  cursor: pointer;
}
.close-icon {
  fill: var(--main-dark);
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--accent);
}
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-title-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
.modal-form-name {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}
.modal-form-input {
  width: 394px;
  height: 48px;
  padding: 14px 12px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  border-radius: 30px;
  background: var(--main-light);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}
.modal-form-input::placeholder {
  color: #c4c4c4;
}

.modal-form-input:focus {
  border-color: var(--accent);
  outline: none;
}
.modal-form-input:valid {
  border-color: var(--accent);
  outline: none;
}
.modal-form-input:invalid:not(:placeholder-shown) {
  border-color: #ff705d;
  outline: none;
}
